@charset "utf-8";

p{
    min-width: 600px;
}

img{
    width: 100%;
    min-width: 600px;
}

/* ローディング画面のスタイル */
#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0bd;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;

    transition: opacity 1s ease;
    z-index: 9999;
}

.fade-out{
    opacity: 0;
    pointer-events: hidden;
}