@charset "utf-8";

p{
    min-width: 600px;
}

img{
    width: 100%;
    min-width: 600px;
}

/* ローディング画面のスタイル */
#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #0bd;

    transition: 2s ease;
    z-index: 9999;
}

.spinner{
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 100%;
    animation: sk-scaleout 1s infinite ease-in-out;
}

@keyframes sk-scaleout {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
        opacity: 0;
    }
}

.loaded{
    opacity: 0;
    visibility: hidden;
}